.platform-win .container-1eFtFS::before, .platform-osx .container-1eFtFS::before {
  height: calc((100% - ((var(--window-margin) * 1px)) * 2) - 32px);
}
.platform-win #app-mount .sidebar-1tnWFu, .platform-osx #app-mount .sidebar-1tnWFu {
  margin-top: calc(32px + (max(0,var(--window-margin)))*1px) !important;
}
.platform-win #app-mount .guilds-2JjMmN, .platform-osx #app-mount .guilds-2JjMmN {
  margin-top: calc(32px + (max(0,var(--window-margin)))*1px) !important;
  height: calc((100% - ((var(--window-margin) * 1px)) * 2) - (((var(--window-margin)/var(--window-margin)) * 10px) + 22px)) !important;
}
